html {
    background:url("bg.jpg")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
form{
    color: #ffffff;
}
h2 {
    color: #ffffff;
    font-family: "Sofia", cursive;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
input[type="text"] {


    background: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
}
input[type="text"]:hover{
    border-bottom: 1px solid #1FCE6D;

}
input[type="submit"],button {
    background: #1FCE6D;
    border-radius: 2px;
    font-family: Arial;
    Border:0px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover,button:hover {
    background: #16aa56;
}
::-webkit-input-placeholder {
    color: #f5f5f5;
    font-size: 15px;
}
#compare{
    margin-top: 150px;
    font-family: Verdana;
    color:#ffffff;
}